<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
    <img src="assets/img/logo.gif" slot="end" class="logo"/>
    <ion-button fill="clear" (click)="logout()" slot="end">
      <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

    <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list [inset]="true" *ngIf="userDocuments.length > 0">
      <ion-item [button]="true" *ngFor="let item of userDocuments">
        <ion-icon slot="start" color="primary" [name]="item ? 'ellipse' : ''"></ion-icon>
        <ion-label>
          <h2>{{ item.objName }}</h2>
          <p>{{ item.objclass.type }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-content>
